.start-btn {
    background: var(--purple-100);
    padding: 12px 6px;
    border: 2px solid var(--purple-300);
    border-radius: 8px;
    font-weight: bold;
    margin: 12px 0;
    transition: all ease-in-out 0.6s;
    font-size: 20px;
}

.start-btn:hover {
    background: var(--purple-150);
    color: ghostwhite;
    cursor: pointer;
}

.disabled-btn {
    background: #606060;
    color: ghostwhite;
    padding: 12px 6px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 12px 0;
    transition: all ease-in-out 0.6s;
    font-size: 20px;
    opacity: 0.8;
}